{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card shadow p-4">

          <h2 class="text-center mb-4">Connexion</h2>

{% if form.errors %}
<p style='color:red;'>Votre nom d'utilisateur et mot de passe ne correspondent pas veuillez reessayer.</p>
{% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="mb-3">
            <label for="email" class="form-label">Nom d'utilisateur ou Email</label><br>
            {{form.username}}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" >Mot de passe</label><br>
            {{form.password}}
        </div>

        <td><button type="submit" class="btn btn-primary" {% url "liste_article" %}>Se connecter</button></td>
        
        <div>
            <p><a href="{% url 'password_reset' %}" class="text-decoration-none text-primary">Mot de passe oublié ?</a></p>

            <p>Pas encore de compte ? <a href="{% url 'inscription' %} "class="fw-bold text-success text-decoration-none">Inscrivez-vous ici</a>.</p>
        </div>
    </div>  
</div>

    </div>  
{% endblock content %}