{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-1.5">
        <h5 class="card-header">Categorie</h5>
        <div class="card-body">
            <p class="card-text">
                Mon application de JOJ NEWS est créée en utilisant le framework web Django pour le côté backend, et est
                conçue avec un thème bootswatch pour l'interface utilisateur. C'est un framework très sympa facile de mettre en pratique...</p>
            <a href="#" class="btn btn-danger">Mon blog</a>
            <a href="https://docs.djangoproject.com/fr/3.0/" class="btn btn-secondary">Documentation Django</a>
        </div>
    </div>
</div>


{% endblock sidebar %}