{% extends "base.html" %}
{% load static %}
{% block title %}Articles{% endblock %}

{% block content %}

<h2 class="mb-4">Tous les articles</h2>

<!-- FILTRE CATÉGORIES -->
<div class="mb-4">
  <h5>Filtrer par catégorie :</h5>
  <div class="d-flex gap-2 flex-wrap">
    <select class="form-select">
        <option>Tous</option>
        <option>Athlétisme</option>
        <option>Natation</option>
        <option>Football</option>
    </select>

  </div>
</div>

<div class="row">

  <div class="col-md-4 mb-4">
    <div class="card">
      <img src="{% static 'images/joj.jpeg' %}" class="card-img-top">
      <div class="card-body">
        catégorie: <span class="badge bg-secondary mb-2">Athlétisme</span>
        <h5 class="card-title">Athlétisme</h5>
        <p class="text-muted">Par Admin • Aujourd’hui</p>
        <p>Résumé des compétitions d’athlétisme...</p>
        <a href="{% url 'detail_article' %}" class="btn btn-primary btn-sm">Lire la suite →</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <img src="{% static 'images/joj.jpeg' %}" class="card-img-top">
      <div class="card-body">
        catégorie: <span class="badge bg-secondary mb-2">Natation</span>
        <h5 class="card-title">Natation</h5>
        <p class="text-muted">Par Admin • Aujourd’hui</p>
        <p>Les jeunes nageurs impressionnent...</p>
        <a href="#" class="btn btn-primary btn-sm">Lire la suite →</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <img src="{% static 'images/joj.jpeg' %}" class="card-img-top">
      <div class="card-body">
        catégorie: <span class="badge bg-secondary mb-2">Football</span>
        <h5 class="card-title">Football</h5>
        <p class="text-muted">Par Admin • Aujourd’hui</p>
        <p>Retour sur les matchs de football...</p>
        <a href="#" class="btn btn-primary btn-sm">Lire la suite →</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}