{% extends "base.html" %}
{% load static %}
{% block title %}Détail article{% endblock %}

{% block content %}

<div class="container">

  <!-- ARTICLE -->
  <div class="card mb-5">
    {% if  article.image %}
      <img src="{{ article.image.url }}" class="card-img-top">
      
    {% else %}
      <img src="{% static 'images/joj.jpeg' %}" class="card-img-top">
    {% endif %}

    <div class="card-body">
      Categorie: <span class="badge bg-secondary mb-2">{{ article.categorie }}</span>

      <h2 class="fw-bold">{{ article.titre }}</h2>
      <p class="text-muted">Publié par {{ article.user }} • le {{ article.date_publication }}</p>

      <p class="mt-4">
        {{ article.contenu }}
      </p>
    </div>
  </div>

  <!-- COMMENTAIRES -->
  <div class="mb-5">
    <h4>Commentaires</h4>

    {% for commentaire in commentaires %}
    <div class="border rounded p-3 mb-3">
      <div class="d-flex justify-content-between">
        <div>
          <strong>{{commentaire.user}}</strong>
          <small class="text-muted">{{commentaire.date_publication}}</small>
        </div>

        <!-- Actions -->
        {% if user == commentaire.user %}
          <div>
            <a href="{% url 'modifier_commentaire' commentaire.id %}" class="btn btn-sm btn-outline-warning">Modifier</a>
            <a href="{% url 'supprimer_commentaire' commentaire.id %}" class="btn btn-sm btn-outline-danger">Supprimer</a>
          </div>
        {% endif %}
      </div>

      <p class="mt-2">{{commentaire.message}}</p>
    </div>

    {% empty %}
      <p>Aucun commentaire pour cet article</p>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
  <div>
  
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-success mt-2">Publier</button>
    </form>
  </div>
  {% else %}
  <p class="text-muted">Connectez-vous pour commenter</p>
  {% endif %}

</div>

{% endblock %}